# Database Settings
DB_NAME=trading.db

# API Keys (Eğer ileride borsa API'si kullanılırsa - Binance, Alpaca vs.)
# API_KEY=your_api_key_here
# API_SECRET=your_api_secret_here

# App Settings
DEBUG=True
ENVIRONMENT=development
